In [24]:
from sqlite3.dbapi2 import SQLITE_ALTER_TABLE
import numpy as np
import sqlite3
cx = sqlite3.connect("exam_data.db")

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

cur = cx.cursor()

cur.execute("SELECT * from exam_data")

OperationalError: no such table: exam_data